{% extends 'mtg_deckbuilder/base.html' %}
{% block content %}


<!-- User's profile name -->
<h2 id='username'>{{ user.username }}</h2>

<!-- User profile information -->
<div class='profile_info'>
    <p id='users_name'>{{ user.first_name }} {{ user.last_name }}</p>
    <p id='email'>{{ user.email }}</p>

    <!-- Found the following line from
    https://stackoverflow.com/questions/32829088/how-to-show-profile-editing-features-only-to-accounts-owner-in-django
    Users ca only edit their own profile.
    -->
    {% if user == request.user and request.user.is_authenticated %}
        <form action="{% url 'edit_user_profile' %}">
            <input id="EditProfileForm" type='submit' value='Edit Profile'>
        </form>
    {% endif %}
</div>
</br>

<!-- Display user's decks -->
<h3 id='username_decks'><u>{{ user.username }}'s Decks:</u></h3>

{% for deck in decks %}
    <!-- 
        Only display title and brief description. 
    -->
    <div class='deck' id="deck_{{ deck.pk }}">
        <h4 class="deck_name">&emsp;<a href="{% url 'deck_detail' deck_pk=deck.pk %}">{{ deck.name }}</a></h4>
        <p class="deck_text">&emsp;&emsp;{{ deck.text }}</p>

    {% empty %}
        <p id='no_records'>No decks.</p>

    </div>
{% endfor %}


{% endblock %}