{% load static %}
<!DOCTYPE html>
<html>

    <head>
        <title>Magic: The Gathering Deck Builder</title>
        <link rel="stylesheet" href="https://cdn.jsdelivr.net/gh/kognise/water.css@latest/dist/dark.min.css">
    </head>

    <body>

        <h1>Magic: The Gathering Deck Builder</h1>

            <a href="{% url 'homepage' %}">All Decks</a> | 
            <a href="{% url 'new_deck' %}">New Deck</a> | 

        <hr>
            
            {% block content %}
            {% endblock %}
        
        <hr>

    </body>

    <footer>
        <!-- 
            Get flavor text from random card and display it at the bottom of each page 
        -->

        <div style="float: left;">
            <script>
                // provide template context variable to JavaScript
                let randomUrl = "{% url 'get_flavor_text' %}"
            </script>

            <!-- Load script, will run once page is loaded -->
            <script async defer src="{% static '/js/random_card.js' %}"></script>

            <!-- random flavor shown here  -->
            <i><p id="random-card-flavor">{{ get_flavor_text }}</p></i>
        </div>


        <div style="float: right;">
            <p>created by <a href="https://danibarstad.com/" target="_blank">danibarstad</a> | <a href="https://github.com/danibarstad/MtG_DeckBuilder" target="_blank">GitHub</a></p>
        </div>

    </footer>

</html>