{% extends 'mtg_deckbuilder/base.html' %}
{% block content %}

<!-- Displays all decks from all users -->
<h2>All Decks</h2>

{% for deck in decks %}

<div class='deck' id="deck_{{ deck.pk }}">
    <h4 class="deck_name" style='display:inline'><a href="{% url 'deck_detail' deck_pk=deck.pk %}">{{ deck.name }}</a></h4><p style='display:inline'> by {{ deck.user }}</p>
    <p class="deck_text">&emsp;{{ deck.text }}</p>

{% empty %}
    <p id='no_records'>No decks.</p>
{% endfor %}

</div>


{% endblock %}