{% extends 'mtg_deckbuilder/base.html' %}
{% block content %}


<!-- View the details for the desired deck -->
<!-- Deck title -->
<h2 class="deck_name" style='display:inline'>{{ deck.name }}</h2>
<p style='display:inline'> by {{ deck.user }}</p>
    
<div class='deck_info'>
    
    <!-- Deck description -->
    <p class="deck_text">&emsp;<i>{{ deck.text }}</i></p>
        <ul>
            {% for card in deck.cardList %}

                <!-- List of cards in deck -->
                <li>{{ card }}</li>
            {% endfor %}
        </ul>

</div>


{% endblock %}